<%- include('partials/header') %>

<p class="h4 p-4">Enter the names of movies and/or tv series that you've seen below.</p>

<div class="container ">
  <div class="row">
    <div class="col-lg jumbotron">
      <i class="fas fa-tv fa-4x"></i>
      <h1 class="display-3">TV Series</h1>

      <form action="/submit/tv_series" method="POST">
        <div class="form-group container">
          <div class="row">
            <div class="col-11 p-0"><input type="text" class="form-control text-center" name="series_name"
                placeholder="Enter a TV Series"></div>
            <div class="col-1 p-0 d-flex"><button type="submit" class="no-style"><i class="fas fa-plus fa-2x"
                  style="color: #2a2e33;"></i></button></div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>

    </div>
    <div class="col-lg jumbotron">
      <i class="fas fa-video fa-4x"></i>
      <h1 class="display-3">Movies</h1>

      <form action="/submit/movie" method="POST">
        <div class="form-group container">
          <div class="row">
            <div class="col-11 p-0"><input type="text" class="form-control text-center" name="movie_name"
                placeholder="Enter a Movie"></div>
            <div class="col-1 p-0 d-flex"><button type="submit" class="no-style"><i class="fas fa-plus fa-2x"
                  style="color: #343a40;"></i></button></div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>

    </div>
  </div>
</div>

<div class="container-sm w-50">

</div>

<%- include('partials/footer') %>